.Cards {
  display: flex;
  gap: 2rem;
}
.Card {
  background: #ffe1bc;
  border-radius: 1rem;
  padding: 1.5rem;
  min-width: 150px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
.CardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.CardValue {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.CardPercent {
  font-size: 1rem;
  color: #fca61f;
}
