.CustomerReview {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
.CustomerReview h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.chart {
  margin-top: 1rem;
}
